#inicio {
    .ganhador {
        display: flex !important;
        margin-bottom: 10px;
        background: #fff;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
    }

    .ganhador-foto img {
        width: 52px;
        height: 52px;
        border: 2px solid #63ac49;
        margin-top: 10px;
    }

    .ganhador-desc {
        margin-left: 5px;
        width: 80%;
    }

    .ganhador-desc h3 {
        font-size: 1.1em;
    }

    .ganhador p {
        font-size: .85em;
        margin-bottom: 0;
        opacity: .85;
    }

    .ganhador-rifa {
        float: right;
    }

    .ganhador-rifa img {
        height: 40px;
        width: 40px;
        border-radius: 50rem;
        margin-top: 5px;
    }

    .ganhadores a {
        text-decoration: none !important;
    }

    .ganhador.dark {
        background: #222222;
    }

    .ganhador-desc.dark {
        color: #fff !important;
    }
}
