label.label-full-width {
    width: 100%;
}

#advanced-search-modal select, #advanced-search-modal input {
    width: 100%;
}

#advanced-search-modal label {
    margin-bottom: 2px;
}

a {
    text-decoration: none !important;
}

.has-error .help-block {
    color: red;
}

.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

#loadingSystem {
    background: rgba(206, 206, 206, 0.5) url("../images/loading.gif") no-repeat scroll center center;
    background-size: 150px 150px;
    height: 100%;
    left: 0;
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
}
.separator-20{
    height: 20px !important;
    display: block !important;
}
.separator-10{
    height: 10px !important;
    display: block !important;
}
.separator-5{
    height: 5px !important;
    display: block !important;
}